.st-facebook{
    text-align: center;
    &--btn{
        display: inline-block;
        padding: .875rem 2rem;
        border: none;
        border-radius: 1.5rem;
        color: #fff;
        line-height: 1.25rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s ease-out;
        &:hover,&:focus{
            outline: none;
            box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,.5);
        }
        @media (min-width: $media-md){
            background-color: #3b5998;
            &:hover,&:focus{
                box-shadow: none;
                background-color: darken(#3b5998, 10%);
                box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
            }
        }
        &-icon{
            display: block;
            width: 1rem;
            height: 1rem;
            float: left;
            margin-right: .25rem;
        }
    }
}