.st-form{
    @mixin field(){
        background-color: rgba(255,255,255,.15);
        border: none;
        border-radius: 1.5rem;
        font-family: inherit;
        font-size: 1em;
        transition: all .2s ease-out;
        @media (min-width: $media-md){
            background-color: #d0d0d0;
        }
    }

    $field-text-color: #0c344c;

    &--fieldset{
        margin: 0;
        padding: 0;
        border: none;
    }
    &--group{
        position: relative;
        & + .st-form--group{
            margin-top: 1rem;
            @media (min-width: $media-md){
                margin-top: 1.5rem;
            }
        }
    }
    &--label{
        display: none;
    }
    &--field{
        @include field();
        height: 3rem;
        width: 100%;
        padding: 0 1rem 0 3rem;
        color: $text-color-sm;
        &::-webkit-input-placeholder{
            opacity: 1;
            color: $field-text-color;
        }
        &::-moz-placeholder{
            opacity: 1;
            color: $field-text-color;
        }
        &:-ms-input-placeholder{
            opacity: 1;
            color: $field-text-color;
        }
        &:-moz-placeholder{
            opacity: 1;
            color: $field-text-color;
        }
        &:focus{
            outline: none;
            background-color: rgba(255,255,255,.6);
            color: $field-text-color;
            & ~ .st-form--field-icon{
                color: transparentize($field-text-color, 0.4);
            }
        }
        @media (min-width: $media-md){
            padding-left: 1.5rem;
            background-color: #fff;
            border-radius: 0;
            border-bottom: solid 1px #ddd;
            color: $text-color-lg;
            &:focus{
                background-color: #fff;
                border-color: $sec-color;
                color: currentColor;
            }
        }
        &-icon{
            color: rgba(255,255,255,.8);
            transition: all .2s ease-out;
            &-img{
                position: absolute;
                left: 1rem;
                top: 1.5rem;
                transform: translate(0,-50%);
                max-width: 1rem;
                max-height: 1.25rem;
            }
            @media (min-width: $media-md){
                color: #adadad;
                &-img{
                    left: 0;
                }
            }
        }
        &-msg:not(:empty){
            padding: .25rem 1rem;
            font-size: small;
            @media (min-width: $media-md){
                padding-left: 0;
                padding-right: 0;
                color: #b50000;
            }
        }
        &-validation{
            position: absolute;
            right: -1rem;
            top: 1.5rem;
            transform: translate(0,-50%);
            width: 1rem;
            height: 1rem;
            opacity: 0;
            color: $main-color;
            transition: all .2s ease-out;
        }
        &_valid,&_invalid{
            padding-right: 3rem;
            & ~ .st-form--field-validation{
                right: 1rem;
                opacity: .8;
                background-size: cover;
                background-position: center;
            }
            @media (min-width: $media-md){
                padding-right: 1.5rem;
                & ~ .st-form--field-validation{
                    right: 0;
                }
            }
        }
        &_valid{
            padding-right: 3rem;
            & ~ .st-form--field-validation{
                background-image: url(../img/icons/check.svg);
            }
        }
        &_invalid{
            box-shadow: none;
            & ~ .st-form--field-validation{
                background-image: url(../img/icons/exclamation-circle.svg);
            }
        }
    }
    &--check{
        &-control{
            opacity: 0;
            position: absolute;
            &:checked ~ .st-form--check-label > .st-form--check-icon{
                background-color: rgba(255,255,255,.6);
                .st-form--check-icon-img{
                    opacity: 1;
                }
            }
            &:focus ~ .st-form--check-label > .st-form--check-icon{
                background-color: rgba(255,255,255,.6);
                @media (min-width: $media-md){
                    box-shadow: 0px 0px 0px 2px lighten($main-color, 30%);
                }
            }
        }
        &-label{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        &-icon{
            @include field();
            display: block;
            height: 2rem;
            width: 2rem;
            padding: .5rem;
            margin-right: .5rem;
            float: left;
            color: $main-color;
            @media (min-width: $media-md){
                background-color: #fff;
                border: solid 1px $main-color;
            }
            &-img{
                opacity: 0;
                transition: all .2s ease-out;
            }
        }
    }
    &--action{
        margin-top: 1rem;
        &-btn{
            width: 100%;
            padding: 1rem 2rem;
            border: none;
            border-radius: 1.5rem;
            background-color: #0d2737;
            font-family: inherit;
            font-size: 1em;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
            transition: all .2s ease-out;
            &:focus,&:hover{
                outline: none;
                background-color: darken(#0d2737, 5%);
            }
        }
        @media (min-width: $media-md){
            margin-top: 2rem;
            text-align: center;
            &-btn{
                width: auto;
                background-color: $main-color;
                &:focus,&:hover{
                    background-color: darken($main-color, 5%);
                    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
                }
            }
        }
        &-msg{
            margin-top: 1rem;
            font-size: small;
        }
    }
}