// tamanhos

$media-sm: 480px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

// tipografia
$font-family: Roboto, Arial, Helvetica, sans-serif;
$font-size: 0.875rem;

// cores
$main-color: #284a5e;
$sec-color: #b0cc49;

$text-color-sm: #fff;
$text-color-lg: #666;