*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: $main-color;
    background-image: url(../img/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    font-family: $font-family;
    font-size: $font-size;
    color: $text-color-sm;
    @media (min-width: $media-md){
        background-image: none;
        color: $text-color-lg;
    }
}

a{
    color: #9ac6de;
    text-decoration: underline;
    @media (min-width: $media-md){
        color: #27719c;
    }
}

img{
    max-width: 100%;
}