.st-page{
    display: block;
    max-width: 360px;
    margin: 0 auto;
    padding: 1.25rem;
    padding-top: 0;
    @media (min-width: $media-md){
        max-width: 600px;
        padding: 2.5rem 5rem;
        margin-bottom: 2.5rem;
        border-radius: .5rem;
        background-color: #fff;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,.5);
        overflow: hidden;
    }
    &--header{
        &-title{
            margin-top: 0;
            margin-bottom: 1.5rem;
            font-size: 1em;
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
        }
        &-icon{
            display: block;
            background-color: $main-color;
            border-radius: 50%;
            padding: 1.25rem;
            margin: 0 auto .5rem;
            width: 5rem;
            height: 5rem;
            color: #fff;
        }
        @media (min-width: $media-md){
            margin: -2.5rem -5rem 2.5rem;
            padding: 2.5rem;
            background-image: url(../img/bg-mobile.jpg);
            background-size: cover;
            &-title{
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                margin-bottom: 0;
                font-size: 1.5rem;
                color: #fff;
            }
            &-icon{
                width: 3rem;
                height: 3rem;
                padding: .75rem;
                margin: 0;
                margin-right: .5rem;
                background-color: #fff;
                color: #4d7a97;
            }
        }
    }
}