.st-register{
    &--div{
        position: relative;
        margin: 1rem 0;
        text-align: center;
        text-transform: uppercase;
        &:before,&:after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            height: 1px;
            width: calc(50% - 16px);
            background-color: rgba(255,255,255,.3);
        }
        &:after{
            left: auto;
            right: 0;
        }
        @media (min-width: $media-md){
            margin-left: -5rem;
            margin-right: -5rem;
            &:before,&:after{
                background-color: #adadad;
            }
        }
    }
}