* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #284a5e;
  background-image: url(../img/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #fff; }
  @media (min-width: 768px) {
    body {
      background-image: none;
      color: #666; } }

a {
  color: #9ac6de;
  text-decoration: underline; }
  @media (min-width: 768px) {
    a {
      color: #27719c; } }

img {
  max-width: 100%; }

.st-page {
  display: block;
  max-width: 360px;
  margin: 0 auto;
  padding: 1.25rem;
  padding-top: 0; }
  @media (min-width: 768px) {
    .st-page {
      max-width: 600px;
      padding: 2.5rem 5rem;
      margin-bottom: 2.5rem;
      border-radius: .5rem;
      background-color: #fff;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
      overflow: hidden; } }
  .st-page--header-title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center; }
  .st-page--header-icon {
    display: block;
    background-color: #284a5e;
    border-radius: 50%;
    padding: 1.25rem;
    margin: 0 auto .5rem;
    width: 5rem;
    height: 5rem;
    color: #fff; }
  @media (min-width: 768px) {
    .st-page--header {
      margin: -2.5rem -5rem 2.5rem;
      padding: 2.5rem;
      background-image: url(../img/bg-mobile.jpg);
      background-size: cover; }
      .st-page--header-title {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 0;
        font-size: 1.5rem;
        color: #fff; }
      .st-page--header-icon {
        width: 3rem;
        height: 3rem;
        padding: .75rem;
        margin: 0;
        margin-right: .5rem;
        background-color: #fff;
        color: #4d7a97; } }

.st-register--div {
  position: relative;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase; }
  .st-register--div:before, .st-register--div:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: calc(50% - 16px);
    background-color: rgba(255, 255, 255, 0.3); }
  .st-register--div:after {
    left: auto;
    right: 0; }
  @media (min-width: 768px) {
    .st-register--div {
      margin-left: -5rem;
      margin-right: -5rem; }
      .st-register--div:before, .st-register--div:after {
        background-color: #adadad; } }

.st-title {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  text-align: center; }
  .st-title--logo {
    max-width: 56vw;
    width: 16rem; }

.st-facebook {
  text-align: center; }
  .st-facebook--btn {
    display: inline-block;
    padding: .875rem 2rem;
    border: none;
    border-radius: 1.5rem;
    color: #fff;
    line-height: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s ease-out; }
    .st-facebook--btn:hover, .st-facebook--btn:focus {
      outline: none;
      box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5); }
    @media (min-width: 768px) {
      .st-facebook--btn {
        background-color: #3b5998; }
        .st-facebook--btn:hover, .st-facebook--btn:focus {
          box-shadow: none;
          background-color: #2d4373;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4); } }
    .st-facebook--btn-icon {
      display: block;
      width: 1rem;
      height: 1rem;
      float: left;
      margin-right: .25rem; }

.st-form--fieldset {
  margin: 0;
  padding: 0;
  border: none; }
.st-form--group {
  position: relative; }
  .st-form--group + .st-form--group {
    margin-top: 1rem; }
    @media (min-width: 768px) {
      .st-form--group + .st-form--group {
        margin-top: 1.5rem; } }
.st-form--label {
  display: none; }
.st-form--field {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 1.5rem;
  font-family: inherit;
  font-size: 1em;
  transition: all .2s ease-out;
  height: 3rem;
  width: 100%;
  padding: 0 1rem 0 3rem;
  color: #fff; }
  @media (min-width: 768px) {
    .st-form--field {
      background-color: #d0d0d0; } }
  .st-form--field::-webkit-input-placeholder {
    opacity: 1;
    color: #0c344c; }
  .st-form--field::-moz-placeholder {
    opacity: 1;
    color: #0c344c; }
  .st-form--field:-ms-input-placeholder {
    opacity: 1;
    color: #0c344c; }
  .st-form--field:-moz-placeholder {
    opacity: 1;
    color: #0c344c; }
  .st-form--field:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: #0c344c; }
    .st-form--field:focus ~ .st-form--field-icon {
      color: rgba(12, 52, 76, 0.6); }
  @media (min-width: 768px) {
    .st-form--field {
      padding-left: 1.5rem;
      background-color: #fff;
      border-radius: 0;
      border-bottom: solid 1px #ddd;
      color: #666; }
      .st-form--field:focus {
        background-color: #fff;
        border-color: #b0cc49;
        color: currentColor; } }
  .st-form--field-icon {
    color: rgba(255, 255, 255, 0.8);
    transition: all .2s ease-out; }
    .st-form--field-icon-img {
      position: absolute;
      left: 1rem;
      top: 1.5rem;
      transform: translate(0, -50%);
      max-width: 1rem;
      max-height: 1.25rem; }
    @media (min-width: 768px) {
      .st-form--field-icon {
        color: #adadad; }
        .st-form--field-icon-img {
          left: 0; } }
  .st-form--field-msg:not(:empty) {
    padding: .25rem 1rem;
    font-size: small; }
    @media (min-width: 768px) {
      .st-form--field-msg:not(:empty) {
        padding-left: 0;
        padding-right: 0;
        color: #b50000; } }
  .st-form--field-validation {
    position: absolute;
    right: -1rem;
    top: 1.5rem;
    transform: translate(0, -50%);
    width: 1rem;
    height: 1rem;
    opacity: 0;
    color: #284a5e;
    transition: all .2s ease-out; }
  .st-form--field_valid, .st-form--field_invalid {
    padding-right: 3rem; }
    .st-form--field_valid ~ .st-form--field-validation, .st-form--field_invalid ~ .st-form--field-validation {
      right: 1rem;
      opacity: .8;
      background-size: cover;
      background-position: center; }
    @media (min-width: 768px) {
      .st-form--field_valid, .st-form--field_invalid {
        padding-right: 1.5rem; }
        .st-form--field_valid ~ .st-form--field-validation, .st-form--field_invalid ~ .st-form--field-validation {
          right: 0; } }
  .st-form--field_valid {
    padding-right: 3rem; }
    .st-form--field_valid ~ .st-form--field-validation {
      background-image: url(../img/icons/check.svg); }
  .st-form--field_invalid {
    box-shadow: none; }
    .st-form--field_invalid ~ .st-form--field-validation {
      background-image: url(../img/icons/exclamation-circle.svg); }
.st-form--check-control {
  opacity: 0;
  position: absolute; }
  .st-form--check-control:checked ~ .st-form--check-label > .st-form--check-icon {
    background-color: rgba(255, 255, 255, 0.6); }
    .st-form--check-control:checked ~ .st-form--check-label > .st-form--check-icon .st-form--check-icon-img {
      opacity: 1; }
  .st-form--check-control:focus ~ .st-form--check-label > .st-form--check-icon {
    background-color: rgba(255, 255, 255, 0.6); }
    @media (min-width: 768px) {
      .st-form--check-control:focus ~ .st-form--check-label > .st-form--check-icon {
        box-shadow: 0px 0px 0px 2px #639bbc; } }
.st-form--check-label {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
.st-form--check-icon {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 1.5rem;
  font-family: inherit;
  font-size: 1em;
  transition: all .2s ease-out;
  display: block;
  height: 2rem;
  width: 2rem;
  padding: .5rem;
  margin-right: .5rem;
  float: left;
  color: #284a5e; }
  @media (min-width: 768px) {
    .st-form--check-icon {
      background-color: #d0d0d0; } }
  @media (min-width: 768px) {
    .st-form--check-icon {
      background-color: #fff;
      border: solid 1px #284a5e; } }
  .st-form--check-icon-img {
    opacity: 0;
    transition: all .2s ease-out; }
.st-form--action {
  margin-top: 1rem; }
  .st-form--action-btn {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #0d2737;
    font-family: inherit;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-out; }
    .st-form--action-btn:focus, .st-form--action-btn:hover {
      outline: none;
      background-color: #081822; }
  @media (min-width: 768px) {
    .st-form--action {
      margin-top: 2rem;
      text-align: center; }
      .st-form--action-btn {
        width: auto;
        background-color: #284a5e; }
        .st-form--action-btn:focus, .st-form--action-btn:hover {
          background-color: #203c4c;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4); } }
  .st-form--action-msg {
    margin-top: 1rem;
    font-size: small; }

/*# sourceMappingURL=all.css.map */
